*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
}

/* Formatação da navbar */

header{
    /* border: 5px solid red; */
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 2vw;
}

header a{
    color: white;
    text-decoration: none;
    font-size: 2vw;
}


.container-items{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.pesquisa input{
    padding: 0.8rem 2rem;
    border-radius: 1rem;
    outline: none;
    border: none;
}

.container-navbar{
    display: flex;
    gap: 2rem;
    align-items: center;
}




nav ul{
    display: flex;
    gap: 1.5rem;
    list-style-type: none;
}


.login p{
    border: 1px solid black;
    /* width: 10rem; */
}




/* Formatação do footer */

footer{
    width: 100%;
    max-width: 100%;
    height: 415px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
}

.links-footer{
    display: flex;
    justify-content: space-evenly;
}

.central-de-atendimento button{

    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 5px 30px;
    font-size: 14px;
    line-height: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
    font-weight: bolder;
    
}

.central-de-atendimento button:hover{
    background-color: white;
    color: black;
}

.direitos-reservados{
    text-align: center;
    color: white;
}

.links-footer a{
    color: #999;
    text-decoration: none;
}

.links-footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.links-footer li:nth-child(1){
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}

.redes-sociais{
    color: white;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.redes-sociais ion-icon{
    font-size: 3vw;
    margin-right: 0.8rem;
}

.direitos-reservados a{
    color: white;
    text-decoration: none;
}

.direitos-reservados div:nth-child(1){
    margin-bottom: 1rem;
}

.texto-cinza{
    color: #666;
}


/* Carrossel manual */

/* section.carrossel-manual {
    width: 90vw;
    max-width: 100%;
    height: auto;
    margin: 3rem auto;
    overflow: hidden;
    position: relative;
    border: 2px solid red;
}

section.carrossel-2 img{
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;   
}

.slide{
     flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover; 
}

div.carrossel-2{
    display: flex;
    transform: translateX(0);
    transition: 0.8s;
} */

section.carrossel-manual {
    width: 90vw;
    max-width: 100%;
    /* aspect-ratio: 16 / 9; */
    height: auto;
    margin: 3rem auto;
    overflow: hidden;
    position: relative;

}

div.carrossel-2 {
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.8s;
}

.slide {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
}

.slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.direita, .esquerda{
    position: absolute;
    font-size: 3rem;
    color: red;
    cursor: pointer;
}

.direita{
    top: 50%;
    right: 0;
}

.esquerda{
    top: 50%;
    left: 0;
}


.navbar-responsive  , .escolha-cinema,.footer-responsive{
    display: none;
}



/* Media Queries */

@media screen and (max-width: 800px) {

    .menu-saduiche, .escolha-cinema, .footer-responsive{
        display: block;
    }

    .logo, .container-items, .links-footer {
        display: none;
    }

    .navbar-responsive{
        display: flex;
        align-items: center;
    }

    .navbar-responsive ion-icon{
        font-size: 2rem;
    }

    .navbar-responsive img{
        width: 5rem;
    }

    .escolha-cinema input{
        border-radius: 1rem;
        padding: 10px 5vw;
        outline: none;
        border: none;
    }

    header{
        justify-content: space-between;
        align-items: center;
    }

    .footer-responsive{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-responsive img{
        width: 18vw;
    }

    .footer-responsive button{
        padding: 10px 3vw;
        width: 100%;
        background-color: black;
        border: 1px solid white;
        color: white;
    }

    .footer-responsive ion-icon {
        color: white;
        font-size: 10vw ;
    }


    @media screen and (max-width: 540px) {
        .imagens-footer{
            display: none;
        }

        .footer-responsive{
            justify-content: center;
            gap: 2rem;
        }
    }
    
}